$color-white: #ffffff;
$color-grey: #808080;
//font colours
$color-black: #000000;

$color-blue: #1a73e8;
$color-red: #f70b0b;

$color-input-border: #d4d6db;

//timer states
$color-timer-busy: #c4c4c4;
$color-timer-free: #17f455;
