@import "../../sass/mixins";
@import "../../sass/variables";

.timer {
  width: 74px;
  height: 36px;
  background-color: $color-timer-busy;
  margin-right: 3px;
}

.timer__text {
  @include text-style;
  text-align: center;
  margin-top: 8px;
  text-transform: uppercase;
}
.active {
  background-color: $color-timer-free !important;
  margin-right: 25px;
}
